[submodule "docs/packages/http-errors"]
	path = docs/packages/http-errors
	url = git@github.com:carbon-io/http-errors.git
[submodule "docs/packages/bond"]
	path = docs/packages/bond
	url = git@github.com:carbon-io/bond.git
[submodule "docs/packages/atom"]
	path = docs/packages/atom
	url = git@github.com:carbon-io/atom.git
[submodule "docs/packages/test-tube"]
	path = docs/packages/test-tube
	url = git@github.com:carbon-io/test-tube.git
[submodule "docs/packages/fibers"]
	path = docs/packages/fibers
	url = git@github.com:carbon-io/fibers.git
[submodule "docs/packages/ejson"]
	path = docs/packages/ejson
	url = git@github.com:carbon-io/ejson.git
[submodule "docs/common"]
	path = docs/common
	url = git@github.com:carbon-io/docs-common.git
[submodule "docs/packages/leafnode"]
	path = docs/packages/leafnode
	url = git@github.com:carbon-io/leafnode.git
